@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #333333;
  --secondary-color: #555555;
  --accent1-color: #ff6f61;
  --accent2-color: #ffa726;

  --heading-font: "Georgia", serif;
  --paragraph-font: "Arial", sans-serif;

  --nav-background-color: #333333;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #ff6f61;
  --nav-hover-background-color: #555555;
}

body {
  font-family: "IBM Plex Mono", monospace;
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
  font-family: var(--paragraph-font);
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

iframe {
  border: none; /* No border */
  /* or specify a border */
  border: 2px solid #000; /* Example: black border */
}
